*{box-sizing: border-box;}

.wraper{width: 1200px;
  margin: 0 auto;
  }

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'roboot', sans-serif;
  text-decoration: none;
  vertical-align: middle;
}
nav ul{
  
  height: 55px;
  background: #000;
  justify-content: center;
  align-items: center;
  position: fixed;
  right: 160;
  left: 160;
  z-index: 999;
}
nav ul {
  list-style: none;
  text-align: center;
}
nav ul li {
  border: 0px solid #000;
  display: inline-block;
  padding: 20px 30px;
  margin-top: -5px;
}
nav ul li a {
  font-weight: 300;
  color: #adadad;
  transition: 300ms;
}
nav ul li a:hover {
  color: #f5f5f7;
}
nav ul .bi-apple:hover{color: #fff}

.banner {
  width: 100%;
   min-height: 500px;
  background-image: url("images/front-view-cyber-monday-shopping-cart-with-bags-copy-space.jpg");
  background-size: cover;
  display: flex;
  justify-content: center;
  align-items: center;
}
.banner h1{
  color: #f5f5f7;
  font-weight: 400;
  font-size: 40px;
}

.container h1{
  margin-top: 20px;
  text-align: center;
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.container p{
  margin-top: 5px;
  padding: 10px 0px;
  font-size: .9rem;
}
.container h2{
padding-left: 0px;
margin-top: 10px;
}
.container h3{
  padding-left: 0px;
  margin-top: 20px;
}

.container2 h1{
padding-left: 20px;
margin-top: 20px;
}
.container2 h3{
  margin-top: 30px;
  padding-left: 0px;
}

.container2 h5{
  margin-top: 20px;
  padding-left: 0px;
}
.container2 p{
margin-top: 20px;
padding: 0px;
}
.container2 ul{
  padding-left: 20px;
  margin-top: 20px;
}
.container2 ul li{
  padding-bottom: 10px;
}

.mac{
  width: 1200px;
}
.Mac-h1{
  text-align: center;
  margin-top: 20px;
}
.mac figure{width:31.66%; float:left; margin: 8px; padding: 30px;  background-color:#e1e1e1; border: 0px solid #000;}
.mac figure img{width: 100%;  border:0px solid #F00}
.mac figure figcaption{text-align: center; line-height: 28px; border:0px solid #F00;  font-size: .9rem}
.mac figure figcaption a{text-decoration: none; color:#000;cursor: pointer;}
.mac figure p{font-size: 20px;}
.mac figure:hover{background-color: #f1f1f1; transition: 0.5s;  }
.mac figure:hover p{color:#3498db; transition: 0.5s;} 

.iPad{
  width: 100%;
}
.iPad figure{width: 31.85333%; float: left; margin: 8px; padding: 30px; background-color: #e1e1e1;}
.iPad figure img{width: 100%;}
.iPad figure figcaption{text-align: center; line-height: 28px; font-size: .9rem}
.iPad figure p{font-size: 20px;}
.iPad figure:hover{background-color: #f1f1f1; transition: 0.5s;}
.iPad figure:hover p{color: #3498db; transition: 0.5s;}

.iphone{
  width: 100%;
}
.iphone figure{width: 31.85333%; float: left; margin: 8px; padding:20px; background-color: #e1e1e1; border: 0px solid #000;}
.iphone figure img{width: 100%; padding: 100px; padding-bottom: 30px;}
.iphone figure figcaption{text-align: center; line-height: 28px; font-size: .9rem}
.iphone p{line-height: 28px; margin-top: 0px; text-align: center; font-size: 20px;}
.iphone figure:hover{background-color: #f1f1f1; transition: 0.5s;}
.iphone figure:hover p{color: #3498db; transition: 0.5s;}

.iphone11{
  width: 100%;
}
.iphone11 figure{width: 31.85333%; float: left; margin: 8px; padding:30px; background-color: #e1e1e1;}
.iphone11 figure img{width: 100%; padding: 40px; padding-bottom: 30px;}
.iphone11 figure figcaption{text-align: center; line-height: 28px; font-size: .9rem }
.iphone11 p{line-height: 28px; margin-top: 0px; text-align: center; font-size: 20px;}
.iphone11 figure:hover{background-color: #f1f1f1; transition: 0.5s;}
.iphone11 figure:hover p{color: #3498db; transition: 0.5s;}

.iWatch{width: 100%;}
.iWatch figure{width: 31.85333%; float: left; margin: 8px; padding: 30px; background-color: #e1e1e1;}
.iWatch figure img{width: 100%;}
.iWatch figure figcaption{text-align: center; line-height: 28px; font-size: .9rem}
.iWatch figure p{font-size: 20px;}
.iWatch figure:hover{background-color: #f1f1f1; transition: 0.5s;}
.iWatch figure:hover p{color: #3498db; transition: 0.5s;}


.airpods{width: 100%;}
.airpods figure{width: 31.85333%; float: left; margin: 8px; padding: 30px; background-color: #e1e1e1;}
.airpods figure img{width: 100%;}
.airpods figure figcaption{text-align: center; line-height: 28px; font-size: .9rem}
.airpods figure p{font-size: 20px;}
.airpods figure:hover{background-color: #f1f1f1; transition: 0.5s;}
.airpods figure:hover p{color: #3498db; transition: 0.5s;}

.btn{background-color: rgb(255, 226, 5); padding:8px ; width:100%; border-radius: 20px;margin: 10px 0  ; text-align: center;}
.btn:hover{background-color: rgb(245, 218, 18);transition: 0.1s;}
.btn2{background-color: orange; padding:8px ; width:100%; border-radius: 20px;margin: 10px 0  ; text-align: center;}
.btn2:hover{background-color: darkorange;transition: 0.1s;}

.services h1{text-align: center;margin-top: 20px;}
.services-data{width: 33.33%;float: right;margin-top: 20px;}
.services-data ul li{border: 1px solid #ddd; list-style: none; padding: 7px; border-left: 0px; color:#7f8c8d; font-size: .9rem; font-weight: bold;}
.services-data ul li:hover{background-color: #f1f1f1;}
.services-data1{width: 33.33%;float: right;margin-top: 20px;}
.services-data1 ul li{border: 1px solid #ddd; list-style: none; padding: 7px; border-right: 0px; color:#7f8c8d; font-size: .9rem; font-weight: bold;}
.services-data1 ul li:hover{background-color: #f1f1f1;}
.text{margin-top: 40px;}
.text p{font-size: 1rem; color:#7f8c8d;}
.text p a{color: #3498db;}
.text p a:hover{text-decoration: underline;}
.txt2{margin-top: 30px;}
.txt2 p{font-size: 1rem;color:#7f8c8d}

.footer{ 
  width:100%;
  background-color: #dbdedf8f;
  padding: 20px 0px;
  margin-top: 20px;
  border-bottom: 0px solid #ced2d4;
}
.footer-detail{
  font-size: .7rem;
  color: #95a5a6;
  padding:20px 10px;
  border-bottom: 1px solid #bdc3c7;
}
.footer-detail p{
  font-size: .7rem;
}
.footer-welcome{margin-top: 20px;}
.ftr{width: 20%; float: right; }
 .ftr ul{ text-align: left; padding-left: 10PX; }
.footer-ul {  
  display: block;
  justify-content:center;
  margin-top: 10px;
}
.footer-ul ul {
  list-style: none;
}
.footer-ul ul li {
  margin: 7px 0;
}
.footer-ul ul li h4 {
  color: #34495e;
  font-size: 15px;
  margin-top: 20px;
}
.footer-ul ul li a {
  color: #7f8c8d;
  font-size: 10px;
}
.footer-ul ul li a:hover {
  text-decoration: underline; 
}

.footer-end{
  border-bottom:1px solid #bdc3c7;
  color: #7f8c8d;
  font-size: .7rem;
  padding: 20px 10px;
}
.footer-end a{
  color: #3498db;
}
.footer-end p{
  font-size: .7rem;
  font-weight:bold;
}



.footer-menuList{
  text-align: center;
  width:100%;
  padding: 20px 0;
}
.footer-menuList p{font-size: .7rem; color:#7f8c8d; margin-bottom: 1  0px; margin-top: 20px;}
  .footer-menuList ul{ 
    margin:0;
    list-style: none;
  }
  
  .footer-menuList ul li{
   display: inline;
  }
  .footer-menuList ul li a{
    color: #7f8c8d;
    font-size: .7rem;
  }
  .footer-menuList ul li a:hover{
    text-decoration: underline;
  }

  .footer-menuList ul li:after{
    content:'|';
    padding: 0  5px;
   }
   .footer-menuList ul li:last-child:after{
    content:'';   
  
   }
   .social a{text-decoration: overline; color: #fff;letter-spacing: 3px; transition: 0.2s; font-size: 22px;}
   .social a:hover{color: #f00; transition: 0.2s; text-shadow: 1px 0px 10px rgb(20, 134, 241);   text-decoration: none;}
   .social i{padding: 0 8px; font-size: 20px; transition: 0.3s;}
     
   .social  > .insta:hover{color:#962fbf;}
   .social  > .twit:hover{color:#00acee;}
   .social  > .goog:hover{color:rgb(249, 187, 17)}
   .social  > .face:hover{color:#3b5998}
   .social  > .tele:hover{color:#0088cc}


  .clear{clear:both}